/.vs/TunZhou.Web/DesignTimeBuild/*.dtbcache
/.vs/TunZhou.Web/v15/Server/sqlite3/*.lock
/.vs/TunZhou.Web/v15/*.suo
/.vs/TunZhou.Web/v15/Server/sqlite3/*.ide
/.vs/TunZhou.Web/v15/Server/sqlite3/*.ide-shm
/.vs/TunZhou.Web/v15/Server/sqlite3/*.ide-wal
/Persistence/bin/Debug/netcoreapp2.2/*.json
/Persistence/bin/Debug/netcoreapp2.2/*.dll
/Persistence/bin/Debug/netcoreapp2.2/*.pdb
/Persistence/obj/Debug/netcoreapp2.2/*.cs
/Persistence/obj/Debug/netcoreapp2.2/*.cache
/Persistence/obj/Debug/netcoreapp2.2/*.txt
/Persistence/obj/Debug/netcoreapp2.2/*.dll
/Persistence/obj/Debug/netcoreapp2.2/*.pdb
/Persistence/obj/*.cache
/Persistence/obj/*.props
/Persistence/obj/*.targets
/Persistence/obj/*.json
/TunZhou.API/bin/Debug/netcoreapp2.2/*.json
/TunZhou.API/bin/Debug/netcoreapp2.2/*.dll
/TunZhou.API/bin/Debug/netcoreapp2.2/*.pdb
/TunZhou.API/obj/Debug/netcoreapp2.2/*.cache
/TunZhou.API/obj/Debug/netcoreapp2.2/*.cs
/TunZhou.API/obj/Debug/netcoreapp2.2/*.CopyComplete
/TunZhou.API/obj/Debug/netcoreapp2.2/*.dll
/TunZhou.API/obj/Debug/netcoreapp2.2/*.txt
/TunZhou.API/obj/Debug/netcoreapp2.2/*.pdb
/TunZhou.API/obj/*.cache
/TunZhou.API/obj/*.props
/TunZhou.API/obj/*.targets
/TunZhou.API/obj/*.json
/TunZhou.Core/bin/Debug/netcoreapp2.2/*.json
/TunZhou.Core/bin/Debug/netcoreapp2.2/*.pdb
/TunZhou.Core/bin/Debug/netcoreapp2.2/*.dll
/TunZhou.Core/obj/Debug/netcoreapp2.2/*.cs
/TunZhou.Core/obj/Debug/netcoreapp2.2/*.cache
/TunZhou.Core/obj/Debug/netcoreapp2.2/*.dll
/TunZhou.Core/obj/*.props
/TunZhou.Core/obj/*.cache
/TunZhou.Core/obj/Debug/netcoreapp2.2/*.pdb
/TunZhou.Core/obj/*.targets
/TunZhou.Core/obj/Debug/netcoreapp2.2/*.txt
/TunZhou.Core/obj/*.json
/TunZhou.DtoModel/bin/Debug/netcoreapp2.2/*.json
/TunZhou.DtoModel/bin/Debug/netcoreapp2.2/*.dll
/TunZhou.DtoModel/bin/Debug/netcoreapp2.2/*.pdb
/TunZhou.DtoModel/obj/Debug/netcoreapp2.2/*.cs
/TunZhou.DtoModel/obj/Debug/netcoreapp2.2/*.cache
/TunZhou.DtoModel/obj/*.cache
/TunZhou.DtoModel/obj/Debug/netcoreapp2.2/*.dll
/TunZhou.DtoModel/obj/Debug/netcoreapp2.2/*.pdb
/TunZhou.DtoModel/obj/*.props
/TunZhou.DtoModel/obj/Debug/netcoreapp2.2/*.txt
/TunZhou.DtoModel/obj/*.targets
/TunZhou.Repositories/bin/Debug/netcoreapp2.2/*.dll
/TunZhou.Repositories/bin/Debug/netcoreapp2.2/*.pdb
/TunZhou.Repositories/obj/Debug/netcoreapp2.2/*.cs
/TunZhou.Repositories/bin/Debug/netcoreapp2.2/*.json
/TunZhou.Repositories/obj/Debug/netcoreapp2.2/*.cache
/TunZhou.Repositories/obj/Debug/netcoreapp2.2/*.CopyComplete
/TunZhou.Repositories/obj/Debug/netcoreapp2.2/*.txt
/TunZhou.Repositories/obj/Debug/netcoreapp2.2/*.dll
/TunZhou.Repositories/obj/*.cache
/TunZhou.Repositories/obj/*.targets
/TunZhou.Repositories/obj/*.props
/TunZhou.Repositories/obj/Debug/netcoreapp2.2/*.pdb
/TunZhou.Repositories/obj/*.json
/TunZhou.Services/bin/Debug/netcoreapp2.2/*.dll
/TunZhou.Services/bin/Debug/netcoreapp2.2/*.pdb
/TunZhou.Services/obj/Debug/netcoreapp2.2/*.cs
/TunZhou.Services/bin/Debug/netcoreapp2.2/*.json
/TunZhou.Services/obj/Debug/netcoreapp2.2/*.cache
/TunZhou.Services/obj/Debug/netcoreapp2.2/*.CopyComplete
/TunZhou.Services/obj/Debug/netcoreapp2.2/*.dll
/TunZhou.Services/obj/*.cache
/TunZhou.Services/obj/*.props
/TunZhou.Services/obj/*.targets
/TunZhou.Services/obj/Debug/netcoreapp2.2/*.txt
/TunZhou.Services/obj/Debug/netcoreapp2.2/*.pdb
/TunZhou.Services/obj/*.json
/TunZhou.Web/bin/Debug/netcoreapp2.2/*.dll
/TunZhou.Web/bin/Debug/netcoreapp2.2/*.pdb
/TunZhou.Web/bin/Debug/netcoreapp2.2/*.json
/TunZhou.Web/obj/Debug/netcoreapp2.2/Razor/Views/Home/*.cs
/TunZhou.Web/obj/Debug/netcoreapp2.2/Razor/Views/Shared/*.cs
/TunZhou.Web/obj/Debug/netcoreapp2.2/Razor/Views/Test/*.cs
/TunZhou.Web/obj/Debug/netcoreapp2.2/Razor/Views/*.cs
/TunZhou.Web/obj/Debug/netcoreapp2.2/*.cs
/TunZhou.Web/obj/Debug/netcoreapp2.2/*.cache
/TunZhou.Web/obj/Debug/netcoreapp2.2/*.txt
/TunZhou.Web/obj/Debug/netcoreapp2.2/*.CopyComplete
/TunZhou.Web/obj/Debug/netcoreapp2.2/*.pdb
/TunZhou.Web/obj/Debug/netcoreapp2.2/*.dll
/TunZhou.Web/obj/*.cache
/TunZhou.Web/obj/*.props
/TunZhou.Web/obj/*.targets
/TunZhou.Web/obj/*.json
/TunZhou.DtoModel/obj/*.json
