<?xml version="1.0" encoding="utf-8" ?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"

      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

      autoReload="true"

      internalLogLevel="Warn"

      internalLogFile="internal-nlog.txt">

  <targets>
    <!--全局日志，记录当前nlog注入的类的执行信息-->
    <!--<target xsi:type="File" name="file" fileName="${basedir}/logs/${shortdate}/file/info.log"

            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />-->
    <!--异常日志-->
    <target xsi:type="File" name="exception" fileName="${basedir}/logs/${shortdate}/exception/exception.log"

            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />
    <!--手动记录日志-->
    <target xsi:type="File" name="trace" fileName="${basedir}/logs/${shortdate}/trace/trace.log"

            layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />

  </targets>

  <rules>

    <logger name="*" minlevel="Trace" writeTo="file" />

    <!--日志级别：Trace -》Debug-》 Information -》Warning-》 Error-》 Critical-->

    <!--排除系统日志-->

    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />

    <logger name="*" minlevel="Trace" writeTo="trace" />

    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="exception" />

 

  </rules>

</nlog>